/*************************************************************************************************************************
   아이디 비밀번호 수정
*************************************************************************************************************************/

.wrapper {
    border: 1px solid black;
    width: 400px;
    padding: 30px;
    box-sizing: border-box;
    margin: auto;
    weight: bold;
}


input[type=text] {
    width: 20%;
    height : 30%;
    padding: 8px;
    #margin: 10px 0;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    postion : absolute;
    margin-top: 1%;
    margin-left : 40%;
}
input[type=email] {
    width: 20%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    margin-top: 1%;
    margin-left : 40%;
}

input[type=password] {
    width: 20%;
    padding: 8px;
    margin: 0px 0;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    margin-top: 1%;
    margin-left : 40%;
    
    
}

input[type=tel] {
    width: 20%;
    padding: 8px;
    margin: 0px 0;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    margin-top: 1%;
    margin-left : 40%;
    
}


/*
input[type=submit] {
    width: 20%;
    background-color: dodgerblue;
    color: #fff;
    padding: 7px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 1%;
    margin-left : 10%;
  
}
*/

.comment_save{
    width: 20%;
    background-color: dodgerblue;
    color: #fff;
    padding: 7px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 1%;
    margin-left : 0%;

}




.interpretation_save{
    width: 20%;
    background-color: dodgerblue;
    color: #fff;
    padding: 7px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 1%;
    margin-left : 40%;
}


#login-submit{
    width: 20%;
    background-color: dodgerblue;
    color: #fff;
    padding: 7px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 1%;
    margin-left : 40%;
  
}


.create_btn{
    width: 20%;
    background-color: dodgerblue;
    color: #fff;
    padding: 7px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 1%;
    margin-left : 40%;
  
}





#comment_save{
    width: 20%;
    background-color: dodgerblue;
    color: #fff;
    padding: 7px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 1%;
    margin-left : 40%;

}


#search1{
    width : 53%;

}
#aaaa{
    margin-top : 10%;
}

#wrapper{
    height : 100%;
    margin: auto;
  }


#wrapper2{
    height : 117%;
    margin: auto;
    
}
  
html, body {
    margin: 0;
    padding: 0;
    height: 88%;
}


#login_hr {
    width : 40%;
}


.footer_img {
    width: 4%;
    height: 4%; 
    margin-left : 37%;
    margin-bottom: -0.5%;
}

.account{
    text-align : center;

}

.logo_img{
    margin-top: 8%;
   
}

.custom-control-input{
    margin-top: 1%;
    margin-left : 40%;
}
.login_text{
    margin-top: 1%;
    margin-left : 40%;
}

.login_div,
.logout_div {
    display: flex;
    padding: 10px 10px;;
    float: right;
    margin-top: -10px;
}

.underline-hover {
    background-color: #fff;
    margin: 0;
}
.underline-hover li{
    list-style: none;
    display: inline-block;
    margin: 0 30px;
}
.underline-hover li a {
    color: black;
    text-decoration: none;
    position: relative;
}
.underline-hover li a:before {
    content: '';
    background-color: dodgerblue;
    width: 0;
    height: 2px;
    position: absolute;
    left: 50%; /*right로 바꾸면 오른쪽에서*/
    transform: translateX(-50%);
    bottom: -10px;
    transition: 0.3s;
}
.underline-hover li a:hover:before {
    width: 10%;
}
.table {
  border-collapse: collapse;
  border-top: 3px solid #168;

  
}
.table th {
  color: #168;
  background: #f0f6f9;
  text-align: left;

}

.table td {
    color: #168;
    background: #ededed;
    text-align: center;
    
}


.table th, .table td {
  border: 1px solid #ddd;

  
  
}
.table th:first-child, .table td:first-child {
  border-left: 0;
}
.table th:last-child, .table td:last-child {
  border-right: 0;
}
.table tr td:first-child{
  text-align: center;
}
.table caption{caption-side: bottom; display: none;}
.table th:nth-child(3) {
    width:700px;
}

.table td aaa{
    border-collapse: collapse;
    border-top: 3px solid #168;
}

#krr {
    border-right: 3px solid #168;
    border-left: 3px solid #168;
    border-bottom: 3px solid #168;
    display : block;
    margin-top : -16px;
}


.home_button{
    width: 20%;
    background-color: dodgerblue;
    color: #fff;
    padding: 7px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    margin-top: 1%;
    margin-left : 40%;
}


#warning_login{
    text-align : center;
    color : red;

}

#id_check_al{
    width: 20%;
    background-color: red;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    border: none;
    margin-top: 1%;
    margin-left : 40%;
}

.id_check_btn{
    width: 20%;
    background-color: dodgerblue;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    border: none;
    margin-top: 1%;
    margin-left : 40%;


}